<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Python School, ">
    <meta name="description" content="Задание к курсу python developer в котором создается сайт парсера для HeadHanter'a" >
    <title>Парсер HeadHanter</title>
    <!-- <style>
        .header{
          border-bottom: 5px solid grey;
          padding: 10px;
          margin-bottom: 10px;
        }
        .card {
            background-color: #eee;

        }
        .card p {
            font-size: 20px;

        }
        .color{
            color: rgb(100, 14, 230);
        }
    </style> -->
    <link rel="stylesheet" href="01_selectors.css">
</head>
<body>
    <header id="header" class="header">
        <h1>Парсер HeadHanter</h1>
        <img src="hh.jpg" alt="Картинка логотипа HeadHanter" width="300">
        <h2>Главная страница</h2>
    </header>


    <nav id="navigation">
        <h3>Навигация по сайту</h3>
        <ul>
            <li><a href="index.html">Главная</a></li>
            <li><a href="form.html" >Страница запроса</a></li>
            <li><a href="result.html">Результат поиска</a></li>

        </ul>
    </nav>
    <hr>
    <section>
        <article id="block1" class="card header">
            <h2 class="color">Описание HeadHanter </h2>
            <p><strong>HeadHunter (hh.ru)</strong> — крупнейшая российская компания интернет-рекрутмента,
                развивающая бизнес в России, Белоруссии, Казахстане. Клиентами HeadHunter являются свыше 515 тыс. компаний.
                Обширная база соискателей на hh.ru содержит более чем 55 млн резюме, а среднее дневное количество
                вакансий превышает 933 тыс. По данным SimilarWeb, HeadHunter занимает третье место в мире
                по популярности среди порталов по поиску работы и сотрудников.
            </p>

        </article>
        <hr>
        <article id="block2" class="card html">
            <h2 class="color">Описание парсера</h2>
            <p> Парсер заботливо  соберет информацию  по искомым вакансиям и выстроит  таблицу <strong><em>особо  важных навыков</em></strong> для этой специальности  c сайта HeadHanter  по сформированному  Вами запросу. </p>
            <p>Надеемся эта  информация вам поможет определить <strong>вектор</strong> Вашего развития !!!</p>

        </article>
    </section>
    <hr>

    <footer id="footer">
        <h2>Contact me</h2>

        <ul>
            <li><a href="#" target="_blank">VK</a></li>
            <li><a href="#" target="_blank">Telegram</a></li>
            <li><a href="#" target="_blank">WhatsApp</a></li>

        </ul>
    </footer>


</body>
</html>